<h2>Drink Again</h2>
<ul>
  <li>
    <app-wine-listing [isNew]="true"></app-wine-listing>
  </li>
  <li>
    <app-wine-listing></app-wine-listing>
  </li>
  <li>
    <app-wine-listing [isNew]="true"></app-wine-listing>
  </li>
  <li>
    <app-wine-listing></app-wine-listing>
  </li>
  <li>
    <app-wine-listing [isNew]="true"></app-wine-listing>
  </li>
  <li>
    <app-wine-listing></app-wine-listing>
  </li>
  <li>
    <app-wine-listing></app-wine-listing>
  </li>
  <li>
    <app-wine-listing></app-wine-listing>
  </li>
</ul>
